/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=League+Spartan:wght@400;700&display=swap');

/* Variables de color */
:root {
  --color-primary: #FFFFFF; /* Blanco (Texto principal) */
  --color-secondary: #FFC107; /* Amarillo CEI (Elementos destacados) */
  --color-accent: #FBE7C6; /* Beige claro (Fondo de QR y detalles) */
  --color-background: #1E237E; /* Azul oscuro (Fondo principal) */
  --color-card: #3741B5; /* Azul intermedio (Secciones destacadas) */
  --color-light: #9FA8DA; /* Azul claro (Detalles decorativos) */
  --color-footer: #10184E; /* Azul más oscuro (Footer) */
  --color-text: #FFFFFF; /* Blanco (Texto) */
  --color-danger: #F44236; /* Rojo (Alertas) */
  --color-success: #00BF63; /* Verde (Confirmaciones) */

  --font-titles: 'Chewy', cursive;
  --font-body: 'League Spartan', sans-serif;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Establece el fondo en toda la app */
html, body {
  font-family: var(--font-body);
  background: url("/fondo.svg") no-repeat center center fixed;
  background-size: cover;
  color: var(--color-text);
  line-height: 1.6;
  touch-action: manipulation;
  overscroll-behavior: none;
}

/* Tipografía */
h1, h2, h3 {
  font-family: var(--font-titles);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--color-primary);
}

h2 {
  font-size: 2rem;
  color: var(--color-secondary);
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
}

/* Enlaces */
a {
  text-decoration: none;
  color: var(--color-secondary);
}

/* Botones */
button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: var(--font-body);
}

.btn-primary {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.btn-secondary {
  background-color: var(--color-card);
  color: var(--color-text);
}

.btn-danger {
  background-color: var(--color-danger);
  color: var(--color-white);
}

.btn-success {
  background-color: var(--color-success);
  color: var(--color-white);
}

/* Tarjetas o secciones destacadas */
.card {
  background-color: var(--color-card);
  color: var(--color-text);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  background-color: var(--color-footer);
  color: var(--color-white);
}
