/* Estilos generales */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: var(--color-card);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-text);
}

.title {
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-titles);
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 20px;
}

.stepTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-top: 20px;
}

.paragraph {
  font-size: 1.125rem;
  margin-bottom: 20px;
  line-height: 1.6;
  color: var(--color-text);
}

/* Lista de comisiones */
.list {
  list-style-type: none;
  padding: 0;
  font-size: 1.125rem;
}

.list > li {
  margin-bottom: 12px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.1);
  border-left: 5px solid var(--color-secondary);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

/* Íconos en las comisiones */
.commissionItem {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background-color: var(--color-card);
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

.commissionItem:hover {
  background-color: var(--color-primary);
  color: white;
}

/* Links de redes sociales */
.link {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-secondary);
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-primary);
}
